.git
.github
.railway
**/.next
**/node_modules
**/__pycache__
**/*.pyc
**/*.pyo
**/*.log
**/.env
**/.env.*
**/tsconfig.tsbuildinfo
**/.pytest_cache
**/.mypy_cache
**/.DS_Store
**/*-database.sql
**/*-database.sql.gz
**/*-site_config_backup.json
**/*-private-files.tgz
**/*-files.tgz
